:root {
  /**
   * width
   */
  --width-content-min: 1024px;
  --width-content-max: 1200px;
  --width-aside: 280px;

  /**
   * height
   */

  /* --height-header: 86px; */

  /**
   * radius
   */

  /* --radius-l: 8px;
  --radius-m: 5px;
  --radius-s: 3px; */
}
