@define-mixin display $screen {
  .block$(screen) { display: block; }
  .inline-block$(screen) { display: inline-block; }
  .inline$(screen) { display: inline; }
  .flex$(screen) { display: flex; }
  .inline-flex$(screen) { display: inline-flex; }
  .table$(screen) { display: table; }
  .inline-table$(screen) { display: inline-table; }
  .grid$(screen) { display: grid; }
  .inline-grid$(screen) { display: inline-grid; }
  .contents$(screen) { display: contents; }
  .hidden$(screen) { display: none; }
  .visible$(screen) { display: unset; }

  .flex$(screen),
  .inline-flex$(screen) {
    --column-gap: var(--gap-base);

    gap: var(--column-gap);
  }

  .grid$(screen),
  .inline-grid$(screen) {
    --grid-gap: var(--gap-base);

    gap: var(--grid-gap);
  }

  /** align-items */
  .items\:inherit$(screen) { align-items: inherit; }
  .items\:normal$(screen) { align-items: normal; }
  .items\:stretch$(screen) { align-items: stretch; }
  .items\:center$(screen) { align-items: center; }
  .items\:start$(screen) { align-items: start; }
  .items\:end$(screen) { align-items: end; }
  .items\:flex-start$(screen) { align-items: flex-start; }
  .items\:flex-end$(screen) { align-items: flex-end; }

  /** align-self */
  .self\:inherit$(screen) { align-self: inherit; }
  .self\:baseline$(screen) { align-self: baseline; }
  .self\:auto$(screen) { align-self: auto; }
  .self\:center$(screen) { align-self: center; }
  .self\:flex-start$(screen) { align-self: flex-start; }
  .self\:flex-end$(screen) { align-self: flex-end; }

  /** justify-content */
  .justify\:inherit$(screen) { justify-content: inherit; }
  .justify\:normal$(screen) { justify-content: normal; }
  .justify\:stretch$(screen) { justify-content: stretch; }
  .justify\:between$(screen) { justify-content: space-between; }
  .justify\:around$(screen) { justify-content: space-around; }
  .justify\:evenly$(screen) { justify-content: space-evenly; }
  .justify\:center$(screen) { justify-content: center; }
  .justify\:start$(screen) { justify-content: start; }
  .justify\:end$(screen) { justify-content: end; }
  .justify\:flex-start$(screen) { justify-content: flex-start; }
  .justify\:flex-end$(screen) { justify-content: flex-end; }

  /** justify-self */
  .justify-self\:inherit$(screen) { justify-self: inherit; }
  .justify-self\:baseline$(screen) { justify-self: baseline; }
  .justify-self\:auto$(screen) { justify-self: auto; }
  .justify-self\:center$(screen) { justify-self: center; }
  .justify-self\:start$(screen) { justify-self: start; }
  .justify-self\:end$(screen) { justify-self: end; }
}

@mixin display;
